<h1>Plots</h1>

<% @plots.each do |plot| %>
  <p><%= plot.number %></p>
  <% plot.plants.each do |plant| %>
    <p><%= plant.name %> <%= link_to "Remove #{plant.name}", plant_path(plant), method: :delete %>
  <% end %>
<% end %>
